.about {
    margin: 20px auto;
    padding-bottom: 30px;
    background-color: #fdfbfb;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
}

.aboutItem {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutTitle {
    text-transform: uppercase;
    margin: 10px;
    padding: 5px;
    width: 60%;
    border-top: solid 1px #a7a4a4;
    border-bottom: solid 1px #a7a4a4;
    text-align: center;
    font-family: "Varela Round", sans-serif;
    font-size: 13px;
    line-height: 19px;
    color: #222222;
    font-weight: 600;
}

.aboutItem > img {
    margin-top: 15px;
    min-width: 250px;
    max-width: 320px;
    width: 80%;
    min-height: 250px;
}

.aboutItem > p {
    padding: 30px;
    text-align: center;
    font-family: "Lora", serif;
    font-size: 14px;
    font-style: italic;
}

.aboutList {
    list-style-type: none;
    margin-bottom: 30px;
}

.aboutListItem {
    display: inline-block;
    width: 50%;
    margin-top: 15px;
    font-family: "Lora", serif;
    text-align: center;
    font-style: italic;
    text-transform: capitalize;
}

.aboutSocial {
    margin-top: 15px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aboutIcon {
    font-size: 16px;
    margin-left: 10px;
}
